.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
}

.form-check-inline {
    display: inline-block;
    margin-right: 1rem;
}

.p-4 {
    padding: 1.5rem !important;
}

.p-0 {
    padding: 0 !important;
}

.p-1 {
    padding: 0.5rem !important
}

.m-2 {
    margin: 0.5rem !important;
}

.col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
}

.text-light {
    color: #f8f9fa !important;
}

.text-dark {
    color: #212529;
}


.fw-bold {
    font-weight: 700 !important;
    font-size: 1.7rem;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.border {
    border: 1px solid #dee2e6 !important;
}

.w-25 {
    width: 25% !important;
}

.mois {
    min-height: 20px;
}

.semaine, .jour {
    min-height: 45px;
    line-height: 1;
    position: absolute;

}


.semaine, .jour, .mois {
    padding: 4px;
    width: 127px;
    font-weight: 700 !important;
}

.rdv {
    white-space: normal;
    text-align: left;
    /*font-size: 0.9rem;*/
    font-weight: normal !important;
    border: 1px solid #dee2e6 !important;
    --rouge: 255;
    --vert: 255;
    --bleu: 255;
    background: rgb(var(--rouge), var(--vert), var(--bleu));
    --luminosite: calc((var(--rouge) * 299 + var(--vert) * 587 + var(--bleu) * 114) / 1000);
    --couleur: calc((var(--luminosite) - 128) * -255000);
    color: rgb(var(--couleur), var(--couleur), var(--couleur));
    border-radius: 5px;
    display: block;
    z-index: 1;
    font-size: 14px !important;
}

.Linkrdv {
    --rouge: 255;
    --vert: 255;
    --bleu: 255;
    background: rgb(var(--rouge), var(--vert), var(--bleu));
    --luminosite: calc((var(--rouge) * 299 + var(--vert) * 587 + var(--bleu) * 114) / 1000);
    --couleur: calc((var(--luminosite) - 128) * -255000);
    color: rgb(var(--couleur), var(--couleur), var(--couleur));
    text-decoration: underline;
}

.bg-link {
    background-color: transparent;
}

.currentDay {
    background-color: rgba(170, 170, 170, 0.48);
}

.date {
    font-size: 83%;
}